extends layout.pug

block content
  section#introduction
    h1 Welcome!
    p Here are my articles:

  section#articles
    - var md = require('supermarked');
    if config.articles.markdown
      a(href='articles/') Show single articles
      each article in articles()
        article
          p!= md(article.content.toString())
          a(href=article.compiled) Read full article
    else if config.articles.json
      // each article in articles
      //   article
      //     h3 #{article.name}
      //     small #{article.subtitle}
      //     p #{article.preview}
